body {
    background-color: #171A21;
    color: white;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #292C33;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.logo img {
    width: 105px;
}