<DOCTYPE html>

<html>
    <head>
        <title>Best Beatmap</title>
    </head>
    <body>
        {% if not beatmap %}
        <h2>Get best scores on a Beatmap</h2>
        <form method="post">
            {% csrf_token %}
            <label for="beatmapid">Beatmap ID:</label><br>
            <input type="text" id="beatmapid" name="beatmapid"><br>
            <input type="submit" value="Submit">
        </form>
        {% elif beatmap and scores %}
        <button onclick="window.location.href = '/beatmap/get_best';">Back</button>
        <img src="https://assets.ppy.sh/beatmaps/{{beatmap.beatmapset_id}}/covers/cover.jpg" alt="Beatmap cover">
        <h2>Best scores on {{ beatmap.title }} by {{ beatmap.artist }}</h2>
        {% for score in scores %}
        <h3>{{ forloop.counter }}. {{ score.username }} - {{ score.pp }}pp - {{ score.score }}</h3>
        {% endfor%}
        {% endif %}
    </body>