<!-- home.html -->

<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>SniffOsu</title>
    <link rel="stylesheet" href="{% static 'player/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{% static 'home/logo.png' %}" alt="SniffOsu">
        </div>
        <div class="nav">
            <img src="{% static 'home/std.png' %}" alt="Standard">
            <img src="{% static 'home/taiko.png' %}" alt="Taiko">
            <img src="{% static 'home/ctb.png' %}" alt="Catch the Beat">
            <img src="{% static 'home/mania.png' %}" alt="Mania">
        </div>
    </header>
    
    <div class="search-buttons">
        <button class="search-button" onclick="window.location.href = '/player';">Chercher un joueur</a>
        <button class="search-button" onclick="window.location.href = '/player/compare';">Comparer deux joueurs</a>
        <button class="search-button" onclick="window.location.href = '/beatmap/get_best';">Chercher un classement</a>
    </div>

    <div class="player-container">
        <h1>Comparer deux joueurs</h1>
        <form method="post">
            {% csrf_token %}
            <input class="text-input" type="text" name="player1" placeholder="Pseudo du joueur 1">
            <input class="text-input" type="text" name="player2" placeholder="Pseudo du joueur 2">
            <div>
                <button class="send-button" type="submit">Comparer</button>
            </div>
        </form>
    </div>
    
    <footer class="footer">
        <div class="footer-content">
            <p>© 2024 - SniffOsu</p>
        </div>
    </footer>

</body>
</html>
